.form {
  @include flex;
  flex-direction: column;

  &__input {
    width: 100%;
    min-height: 54px;
    margin-bottom: 30px;
    padding-top: 2px;
    padding-left: 18px;
    padding-right: 69px;
    border-radius: 10px 10px 10px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--black-color);
    background-color: var(--dirty-light-color);
    transition-property: background-color, box-shadow;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;

    &:hover:not(:focus-visible) {
      background-color: #EAEAEA;
      transition: background-color .4s ease-in-out;
    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 2px #A65CF0;
      background-color: #F8EFFF;
      transition-property: background-color, box-shadow;
      transition-duration: .4s;
      transition-timing-function: ease-in-out;
    }

    &:active:not(:focus-visible) {
      background: #F7F7F7;
      transition-property: background-color, box-shadow;
      transition-duration: .4s;
      transition-timing-function: ease-in-out;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: var(--grey-color);
    }
  }

  &__btn {
    width: 159px;
    margin-bottom: 12px;
    padding: 19px 21px;
    border-radius: 10px;
    border-color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: var(--light-color);
    background-color: var(--primary-color);
    transition-property: background-color, box-shadow;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;

    &:hover:not(:focus-visible) {
      background-color: var(--primary_light-color);
      transition: background-color .4s ease-in-out;
    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 2px var(--primary-color);
      background-color: var(--primary_light-color);
      transition-property: background-color, box-shadow;
      transition-duration: .4s;
      transition-timing-function: ease-in-out;
    }

    &:active:not(:focus-visible) {
      background-color: var(--primary_shade-color);
      transition: background-color .4s ease-in-out;
    }
  }

  &__checkbox {
      display: block;
      margin-bottom: 15px;

    .form__checkbox-input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }

    .form__checkbox-label {
      position: relative;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      cursor: pointer;

      @include mobile {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .form__checkbox-label:before {
      content:'';
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: 2px solid var(--grey-color);
      border-radius: 2px;
      margin-right: 4px;
      padding: 5px;
      background-color: transparent;
      cursor: pointer;
    }

    .form__checkbox-input:checked + .form__checkbox-label::before {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
    }

    .form__checkbox-input + .form__checkbox-label:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      display: block;
      width: 6px;
      height: 10px;
      border: solid var(--light-color);
      border-width: 0 2px 2px 0;
      opacity: 0;
      transform: rotate(45deg);
      transition: opacity .4s ease-in-out;
    }

    .form__checkbox-input:checked + .form__checkbox-label:after {
      opacity: 1;
      transition: opacity .4s ease-in-out;
    }
  }

  &__terms-link {
    position: relative;
    z-index: 1;
    color: var(--primary-color);


    &:before {
      content: '';
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: var(--primary-color);
    }

    &::after{
      content: "";
      position: absolute;
      top: -2px;
      bottom: -3px;
      left: -3px;
      right: -3px;
      z-index: -1;
      background-color: #ebd1ff;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: transform .5s ease-in-out;
    }

    &:focus-visible {
      outline: none;
      color: var(--primary_shade-color);
    }

    &:focus-visible:not(:hover)::after{
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }

    &:hover:not(:focus-visible) {
      color: var(--primary-color);
    }

    &:active:not(:focus-visible) {
      color: var(--primary_shade-color);
    }
  }

  &__label-name {
    position: relative;
  }

  &__label-tel {
    position: relative;
  }

  &__label-mail {
    position: relative;
  }
}

.just-validate-error-label {
  position: absolute;
  top: -16px;
  left: 18px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #ff6972;
}
