.rating {
  margin-bottom: 70px;

  &__title {
    margin: 0;
    margin-bottom: 26px;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    color: var(--black-color);

    @include mobile{
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__block {
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(420px, auto);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 32px;
    gap: 32px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet-landscape-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile{
      grid-auto-rows: minmax(278px, auto);
      gap: 16px;
    }
  }

  &__untablet-card {
    @include tablet {
      display: none;
    }
  }

  &__btn {
    display: flex;
    padding: 22px 39px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: var(--light-color);
    background-color: var(--primary-color);
    transition-property: background-color, box-shadow;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;

    @include mobile{
      display: block;
      width: 100%;
      padding: 22px 0;
    }

    &:not([disabled]):hover:not(:focus-visible) {
      background-color: var(--primary_light-color);
      transition: background-color .4s ease-in-out;
    }

    &:not([disabled]):focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 2px #A65CF0;
      background-color: var(--primary_light-color);
      transition-property: background-color, box-shadow;
      transition-duration: .4s;
      transition-timing-function: ease-in-out;
    }

    &:not([disabled]):active:not(:focus-visible) {
      background-color: var(--primary_shade-color);
      transition: background-color .4s ease-in-out;
    }
  }

  &__hidden-block {
    display: none;
  }

  &__card-hidden {
    display: none;

    &.product__card-active {
      display: inline;
      opacity: 1;
      animation: fade-in 0.4s ease-in-out;
    }
  }

  &__btn-disabled {
    color: var(--grey-color);
    background-color: #EAEAEA;
    cursor: auto;
  }
}
