@keyframes select-open {
  from {
      transform: scaleY(0);
  }

  to {
      transform: scaleY(1);
  }
}

@keyframes select-close {
  from {
      transform: scaleY(1);
  }

  to {
      transform: scaleY(0);
  }
}


@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: inline;
  }

  100% {
    opacity: 1;
  }
}
