<div class="container breadcrumbs">
  <nav class="breadcrumbs__nav" aria-label="Хлебные крошки">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="../../index.html">
          Главная
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">
          Каталог
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">
          Диваны
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#" aria-current="location">
          Прямые диваны
        </a>
      </li>
    </ol>
  </nav>
</div>
