<section class="catalog-hero">
  <div class="container catalog-hero__container">
    <div class="catalog-hero__block">
      <div class="catalog-hero__title-block">
        <h1 class="catalog-hero__title">
          Каталог
        </h1>
        <div class="catalog-hero__btn-wrapper"></div>
      </div>
      <div class="catalog-hero__filter-tablet mobile-filters">
        <h2 class="mobile-filters__title">
          Фильтры:
        </h2>
        <div class="mobile-filters__wraper">
          <div class="mobile-filters__btns-wraper">
            <div class="mobile-filters__block">
              <button class="mobile-filters__btn btn-reset">
                Категория
              </button>
              <div class="mobile-filters__drobdown" data-simplebar>
                <div class="mobile-filters__checkbox-block mobile-filters__category">
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Диваны</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Кресла</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Пуфы</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Кровати</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Тумбы</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Комоды</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Стулья</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Столы</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Аксессуары</span>
                  </label>
                  <button class="mobile-filters__more-btn btn-reset">+ ещё 12</button>
                  <div class="mobile-filters__more-block">
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Шкафы</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Шкафы-купе</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Зеркала</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Люстры</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Лампы</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Вешалки</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Наборы</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Гарнитура</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Раскладушки</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Шезлонги</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Сундуки</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Пуфы</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile-filters__block">
              <button class="mobile-filters__btn btn-reset">
                Цена
              </button>
              <div class="mobile-filters__drobdown mobile-filters__inputs">
                <label class="mobile-filters__label">
                  <span class="mobile-filters__text">
                    от
                  </span>
                  <input class="mobile-filters__field mobile-filters__field_first" type="number" name="priceFrom" min="1000" max="200000" placeholder="2000">
                </label>
                <label class="mobile-filters__label">
                  <span class="mobile-filters__text">
                    до
                  </span>
                  <input class="mobile-filters__field mobile-filters__field_second" type="number" name="priceTo" min="1000" max="200000" placeholder="150000">
                </label>
                <div class="mobile-filters__slider"></div>
              </div>
            </div>
          </div>
          <div class="mobile-filters__btns-wraper">
            <div class="mobile-filters__block">
              <button class="mobile-filters__btn btn-reset">
                Скидка
              </button>
              <div class="mobile-filters__drobdown mobile-filters__sales">
                <label class="custom-checkbox">
                  <input class="custom-checkbox__field" type="checkbox">
                  <span class="custom-checkbox__content">Более 5 000</span>
                </label>
                <label class="custom-checkbox">
                  <input class="custom-checkbox__field" type="checkbox">
                  <span class="custom-checkbox__content">Менее 5 000</span>
                </label>
                <label class="custom-checkbox">
                  <input class="custom-checkbox__field" type="checkbox">
                  <span class="custom-checkbox__content">Не важно</span>
                </label>
              </div>
            </div>
            <div class="mobile-filters__block">
              <button class="mobile-filters__btn btn-reset">
                Цвет
              </button>
              <div class="mobile-filters__drobdown" data-simplebar>
                <div class="mobile-filters__checkbox-block mobile-filters__colors">
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Коричневый</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Черный</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Бежевый</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Серый</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Белый</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Синий</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Оранжевый</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Желтый</span>
                  </label>
                  <label class="custom-checkbox">
                    <input class="custom-checkbox__field" type="checkbox">
                    <span class="custom-checkbox__content">Зеленый</span>
                  </label>
                  <button class="mobile-filters__more-btn btn-reset">+ ещё 7</button>
                  <div class="mobile-filters__more-block">
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Красный</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Бирюзовый</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Салатневый</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Караловый</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Сереневый</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Фиолетовый</span>
                    </label>
                    <label class="custom-checkbox">
                      <input class="custom-checkbox__field" type="checkbox">
                      <span class="custom-checkbox__content">Индиго</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="catalog-hero__card-block">
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            5,0
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/leather.webp" type="image/webp">
              <img loading="lazy" src="img/leather.png" class="product__image" width="266" height="82" alt="leather sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван кожаный
            <span class="product__title-code">“R-94”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">94 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,9
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/apartec.webp" type="image/webp">
              <img loading="lazy" src="img/apartec.png" class="product__image" width="261" height="101" alt="apartec sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван апартековый <span class="product__title-code">“T-75”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">69 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,8
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/fabric.webp" type="image/webp">
              <img loading="lazy" src="img/fabric.png" class="product__image" width="262" height="103" alt="fabric sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван тканевый <span class="product__title-code">“D-31”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">28 490 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,8
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/velor.webp" type="image/webp">
              <img loading="lazy" src="img/velor.png" class="product__image" width="257" height="125" alt="velor sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван велюровый <span class="product__title-code">“Y-68”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">22 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,8
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/shinil.webp" type="image/webp">
              <img loading="lazy" src="img/shinil.png" class="product__image" width="265" height="117" alt="shinil sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван из шинила <span class="product__title-code">“W-95”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">22 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,8
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/flock.webp" type="image/webp">
              <img loading="lazy" src="img/flock.png" class="product__image" width="271" height="117" alt="flock sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван флоковый <span class="product__title-code">“G-41”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">17 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,8
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/shinil2.webp" type="image/webp">
              <img loading="lazy" src="img/shinil2.png" class="product__image" width="266" height="130" alt="shinil sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван шиниловый <span class="product__title-code">“V-43”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">19 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,7
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/velor2.webp" type="image/webp">
              <img loading="lazy" src="img/velor2.png" class="product__image" width="212" height="124" alt="velor sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван велюровый <span class="product__title-code">“S-99”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">19 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,7
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/faux-leahter.webp" type="image/webp">
              <img loading="lazy" src="img/faux-leahter.png" class="product__image" width="262" height="125" alt="faux leahter sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван из кожзама
            <span class="product__title-code">“F-85”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">26 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,6
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/flock2.webp" type="image/webp">
              <img loading="lazy" src="img/flock2.png" class="product__image" width="251" height="130" alt="flock sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван флоковый<span class="product__title-code">“H-64”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">25 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,6
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/flock3.webp" type="image/webp">
              <img loading="lazy" src="img/flock3.png" class="product__image" width="233" height="133" alt="flock sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван флоковый  <span class="product__title-code">“H-58”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">23 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,6
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/faux-leahter2.webp" type="image/webp">
              <img loading="lazy" src="img/faux-leahter2.png" class="product__image" width="271" height="105" alt="faux leahter sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван из кожзама <span class="product__title-code">“R-43”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">33 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,6
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/shinil3.webp" type="image/webp">
              <img loading="lazy" src="img/shinil3.png" class="product__image" width="229" height="127" alt="shinil sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван из шинила<span class="product__title-code">“С-42”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">18 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,6
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/velor3.webp" type="image/webp">
              <img loading="lazy" src="img/velor3.png" class="product__image" width="269" height="92" alt="velor sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван велюровый<span class="product__title-code">“U-58”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">21 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,5
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/flock4.webp" type="image/webp">
              <img loading="lazy" src="img/flock4.png" class="product__image" width="263" height="106" alt="flock sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван флоковый <span class="product__title-code">“F-41”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">17 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,5
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/velor4.webp" type="image/webp">
              <img loading="lazy" src="img/velor4.png" class="product__image" width="251" height="105" alt="velor sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван велюровый<span class="product__title-code">“R-85”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">34 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,5
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/velor5.webp" type="image/webp">
              <img loading="lazy" src="img/velor5.png" class="product__image" width="272" height="105" alt="velor sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван велюровый<span class="product__title-code">“S-44”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">19 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
        <article class="product">
          <span class="product__rating">
            <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
              <use xlink:href="img/sprite.svg#rating"></use>
            </svg>
            4,4
          </span>
          <div class="product__picter-block">
            <picture class="product__image">
              <source srcset="img/shinil4.webp" type="image/webp">
              <img loading="lazy" src="img/shinil4.png" class="product__image" width="227" height="130" alt="shinil sofa">
            </picture>
          </div>
          <h3 class="product__title">
            Диван из шинила<span class="product__title-code">“С-80”</span>
          </h3>
          <div class="product__discr-block">
            <p class="product__price">20 990 руб</p>
            <a class="product__btn" href="../card.html">Купить</a>
          </div>
        </article>
      </div>
      <div class="catalog-hero__navigation"></div>
    </div>
    <div class="catalog-hero__filters filters">
      <h2 class="filters__title">
        Фильтровать по:
      </h2>
      <h3 class="filters__subtitle">
        Категория
      </h3>
      <div class="filters__category-filter">
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Диваны</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Кресла</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Пуфы</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Кровати</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Тумбы</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Комоды</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Стулья</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Столы</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Аксессуары</span>
        </label>
      </div>
      <div class="filters__range-block">
        <h3 class="filters__subtitle filters__range-title">
          Цена
        </h3>
        <div class="filters__range-box range-box">
          <div class="range-box__inner">
            <label class="range-box__label">
              <span class="range-box__text">
                от
              </span>
              <input class="range-box__field range-box__field_first" type="number" name="priceFrom" min="1000" max="200000" placeholder="2000">
            </label>
            <label class="range-box__label">
              <span class="range-box__text">
                до
              </span>
              <input class="range-box__field range-box__field_second" type="number" name="priceTo" min="1000" max="200000" placeholder="150000">
            </label>
          </div>
          <div class="range-box__slider"></div>
        </div>
      </div>
      <h3 class="filters__subtitle">
        Скидка
      </h3>
      <div class="filters__category-sales">
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Более 5 000</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Менее 5 000</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Не важно</span>
        </label>
      </div>
      <h3 class="filters__subtitle">
        Цвет
      </h3>
      <div class="filters__color-filter">
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Коричневый</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Черный</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Бежевый</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Серый</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Белый</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Синий</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Оранжевый</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Желтый</span>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox">
          <span class="custom-checkbox__content">Зеленый</span>
        </label>
      </div>
      <article class="filters__oxford oxford-card">
        <img class="oxford-card__img" src="../../img/oxfors-catalog.jpg" alt="oxford stile room">
        <div class="oxford-card__content">
          <h2 class="oxford-card__title">
            Оксфорд 1950
          </h2>
          <p class="oxford-card__description">
            Новая коллекция изысканных кресел
          </p>
          <a class="oxford-card__main-link" href="#">
            <span class="oxford-card__link-descr">В каталог</span>
            <div class="oxford-card__arrow"></div>
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
