<footer class="footer">
  <div  class="footer__top">
    <div class="container footer__top-container">
      <div class="footer__img-side">
        <div>
          <a class="footer__logo" tabindex="-1" href="#">
            <img class="footer__logo" src="../img/logo.svg" alt="логотип">
          </a>
        </div>
        <div class="footer__massengers">
          <a class="footer__massenger" href="#" aria-label="Страница компании в Фейсбук">
            <svg class="footer__massenger-link">
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a>
          <a class="footer__massenger" href="#" aria-label="Страница компании в Вконтакте">
            <svg class="footer__massenger-link">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
          <a class="footer__massenger" href="#" aria-label="Страница компании в Инстаграм">
            <svg class="footer__massenger-link">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </div>
      </div>
      <ul class="footer__right-side list-reset">
        <li class="footer__card">
          <h3 class="footer__title">О нас</h3>
          <div class="footer__card-list">
            <a class="footer__card-item" href="#">О компании</a>
            <a class="footer__card-item" href="#">Блог</a>
          </div>
        </li>
        <li class="footer__card">
          <h3 class="footer__title">Услуги</h3>
          <div class="footer__card-list">
            <a class="footer__card-item" href="#">Доставка</a>
            <a class="footer__card-item" href="#">Рассрочка и кредит</a>
            <a class="footer__card-item" href="#">Сборка и установка</a>
          </div>
        </li>
        <li class="footer__card">
          <h3 class="footer__title">Связь с нами</h3>
          <div class="footer__card-list">
            <a class="footer__card-item" href="#">Обратная связь</a>
            <a class="footer__card-item" href="#">Контакты</a>
          </div>
        </li>
        <li class="footer__card">
          <h3 class="footer__title">Сотрудничество</h3>
          <div class="footer__card-list">
            <a class="footer__card-item" href="#">Поставщикам</a>
            <a class="footer__card-item" href="#">Оптовикам</a>
            <a class="footer__card-item" href="#">Карьера</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bot">
    <div class="container footer__bottom-container">
      <p class="footer__bottom-descr">
        <span class="footer__bottom-span">SDP®</span>
        2011-2021
      </p>
    </div>
  </div>
</footer>
