<section class="happy">
  <div class="happy__container container">
    <h2 class="happy__title">
      Мы всегда вам рады!
    </h2>
    <div class="happy__block">
      <div class="happy__left-card">
        <p class="happy__descr">
          Безусловно, новая модель организационной деятельности в&nbsp;значительной степени обусловливает важность распределения внутренних резервов и&nbsp;ресурсов.
          <span class="happy__tooltip tooltip">
            <button class="tooltip__btn btn-reset" aria-label="Открыть всплывающую подсказку">
              <svg class="tooltip__icon" width="6" height="8">
                <use xlink:href="img/sprite.svg#question"></use>
              </svg>
            </button>
          </span>
        </p>
        <form action="#" class="happy__form form">
          <label class="form__label-name">
            <input type="text" name="Имя" class="input-reset form__input  form__name" aria-label="Введите ваше имя" placeholder="Как вас зовут?">
          </label>
          <label class="form__label-tel">
            <input type="tel" name="Имя" class="input-reset form__input form__tel" placeholder="Ваш телефон" aria-label="Введите номер вашего телефона">
          </label>
          <label class="form__label-mail">
            <input type="email" name="Имя" class="input-reset form__input form__mail" placeholder="Ваш e-mail" aria-label="Введите адрес электронной почты">
          </label>
          <button class="btn-reset form__btn">Отправить</button>
          <div class="form__checkbox">
            <label class="form__checkbox custom-checkbox">
              <input class="custom-checkbox__field" type="checkbox">
              <span class="custom-checkbox__content">Принимаю  <a class="form__terms-link" href="#">пользовательское соглашение</a></span>
            </label>
          </div>
        </form>
      </div>
      <div class="happy__right-card">
        <picture class="happy__img">
          <source srcset="img/happy-room.webp" type="image/webp" media="(min-width: 1025px)">
          <source srcset="img/happy-room-1024.webp" type="image/webp" media="(min-width: 901px)">
          <source srcset="img/happy-room-768.webp" type="image/webp">
          <img loading="lazy" src="img/happy-room.jpg" class="happy__img" width="924" height="383" alt="room">
        </picture>
      </div>
    </div>
  </div>
</section>
