<header class="header">
  <div class="header-top">
    <div class="header-top__container container">
      <div class="header-top__contacts">
        <div class="header-top__select-block">
          <label class="header-top__selekt-label" for="citys">Ваш регион:</label>
          <select class="header-top__select" name="citys" id="citys">
            <option value="Moscow">Москва</option>
            <option value="Kazan">Казань</option>
            <option value="Ufa">Уфа</option>
            <option value="Perm">Пермь</option>
          </select>
        </div>
        <a class="header-top__link" href="tel:+74958854547">
          <svg class="header-top__phon" fill="#FF862F" width="17" height="17">
            <use xlink:href="img/sprite.svg#phon"></use>
          </svg>
          +7 (495) 885-45-47
        </a>
      </div>
      <nav class="header-top__nav top-nav" title="main-nav">
        <ul class="top-nav__list list-reset">
          <li class="top-nav__item"><a href="#" class="top-nav__link">О компании</a></li>
          <li class="top-nav__item"><a href="#" class="top-nav__link">Гарантия и возврат</a></li>
          <li class="top-nav__item"><a href="#" class="top-nav__link">Корпоративным клиентам</a></li>
          <li class="top-nav__item"><a href="#" class="top-nav__link">Дизайн-решение</a></li>
        </ul>
        <div class="header-top__btns">
          <button class="btn-reset header-top__btn-modal" aria-label="Ваш профиль">
            <svg class="header-top__svg" fill="#A65CF0" width="26" height="28">
              <use xlink:href="img/sprite.svg#avatar"></use>
            </svg>
          </button>
          <button class="btn-reset header-top__btn-modal header-top__btn-basket" aria-label="Посмотреть корзину покупок">
            <svg class="header-top__svg" fill="#A65CF0" width="30" height="28">
              <use xlink:href="img/sprite.svg#basket"></use>
            </svg>
            <span class="header-top__bas">
              0
            </span>
          </button>
        </div>
      </nav>
    </div>
  </div>
  <div class="header-bot container">
    <div class="header-bot__top-block">
      <button class="header-bot__burger burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>
      <a class="header-bot__logo" tabindex="-1" href="#">
        <img class="header-bot__logo" src="../img/logo.svg" alt="логотип">
      </a>
      <nav class="header-bot__nav bot-nav" title="main-nav" data-menu>
        <ul class="bot-nav__list list-reset">
          <li class="bot-nav__item"><a href="../catalog.html" class="bot-nav__link">Каталог</a></li>
          <li class="bot-nav__item"><a href="#" class="bot-nav__link">Магазины</a></li>
          <li class="bot-nav__item"><a href="#" class="bot-nav__link">Шоу-рум</a></li>
          <li class="bot-nav__item"><a href="#" class="bot-nav__link">Доставка и оплата</a></li>
          <li class="bot-nav__item"><a href="#" class="bot-nav__link">Дисконт</a></li>
          <li class="bot-nav__item"><a href="#" class="bot-nav__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="header-bot__btns-mid">
        <button class="btn-reset header-bot__btn-modal" aria-label="Ваш профиль">
          <svg class="header-bot__svg" fill="#A65CF0" width="26" height="28">
            <use xlink:href="img/sprite.svg#avatar"></use>
          </svg>
        </button>
        <button class="btn-reset header-bot__btn-modal header-bot__btn-basket" aria-label="Посмотреть корзину покупок">
          <svg class="header-bot__svg" fill="#A65CF0" width="30" height="28">
            <use xlink:href="img/sprite.svg#basket"></use>
          </svg>
          <span class="header-bot__bas">
            0
          </span>
        </button>
      </div>
    </div>
    <div class="header-bot__bot-block">
      <div class="header-bot__search-block">
        <div class="header-bot__search-part">
          <input class="header-bot__input input-reset" type="text" placeholder="Я хочу купить..."  aria-label="Введите данные для поиска">
          <div class="header-bot__arrow-search"></div>
        </div>
        <div class="header-bot__select-part">
          <select class="select header-bot__select">
            <option>Категория</option>
            <option value="Диваны">Диваны</option>
            <option value="Кресла">Кресла</option>
            <option value="Пуфы">Пуфы</option>
            <option value="Кровати">Кровати</option>
            <option value="Тумбы">Тумбы</option>
            <option value="Комоды">Комоды</option>
            <option value="Стулья">Стулья</option>
            <option value="Столы">Столы</option>
            <option value="Аксессуары">Аксессуары</option>
          </select>
        </div>
      </div>
      <div class="header-bot__btns">
        <button class="btn-reset header-bot__btn-modal" aria-label="Ваш профиль">
          <svg class="header-bot__svg" fill="#A65CF0" width="26" height="28">
            <use xlink:href="img/sprite.svg#avatar"></use>
          </svg>
        </button>
        <button class="btn-reset header-bot__btn-modal header-bot__btn-basket" aria-label="Посмотреть корзину покупок">
          <svg class="header-bot__svg" fill="#A65CF0" width="30" height="28">
            <use xlink:href="img/sprite.svg#basket"></use>
          </svg>
          <span class="header-bot__bas">
            0
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
