<section class="hero">
  <h1 class="hero__title">Интернет-магазина SitDownPls. Здесь вы можете ознакомиться с различными товарами, действующими специальными предложениями, акциями и скидками.</h1>
  <div class="swiper hero__swiper">
    <div class="swiper-wrapper hero__wrapper">
      <div class="swiper-slide hero__slide">
        <picture class="hero__picture">
          <source srcset="img/hero_1.webp" type="image/webp" media="(min-width: 1290px)">
          <source  srcset="img/hero_1-1024.webp" type="image/webp" media="(min-width: 990px)">
          <source  srcset="img/hero_1-768.webp" type="image/webp" media="(min-width: 760px)">
          <source  srcset="img/hero_1-320.webp" type="image/webp">
          <img loading="lazy" src="img/hero_1.jpg" class="hero__picture" height="400" alt="">
        </picture>
        <div class="hero__slider-descr container">
          <div class="hero__slider-text">
            <h2 class="hero__subtitle">
              Скидка 15% на первую покупку
            </h2>
            <button class="hero__btn btn-reset hero__slider-btn" aria-label="Нажми чтобы получить скидку">Получить!</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero__slide">
        <picture class="hero__picture">
          <source srcset="img/hero_2.webp" type="image/webp" media="(min-width: 1290px)">
          <source  srcset="img/hero_2-1024.webp" type="image/webp" media="(min-width: 990px)">
          <source  srcset="img/hero_2-768.webp" type="image/webp" media="(min-width: 760px)">
          <source  srcset="img/hero_2-320.webp" type="image/webp">
          <img loading="lazy" src="img/hero_2.jpg" class="hero__picture" height="400" alt="">
        </picture>
        <div class="container hero__slider-descr">
          <div class="hero__slider-text">
            <h2 class="hero__subtitle">
              1000+ аксессуаров для дома
            </h2>
            <button class="hero__btn btn-reset hero__slider-btn" aria-label="Нажми чтобы узнать больше">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero__slide">
        <picture class="hero__picture">
          <source srcset="img/hero_3.webp" type="image/webp" media="(min-width: 1290px)">
          <source  srcset="img/hero_3-1024.webp" type="image/webp" media="(min-width: 990px)">
          <source  srcset="img/hero_3-768.webp" type="image/webp" media="(min-width: 760px)">
          <source  srcset="img/hero_3-320.webp" type="image/webp">
          <img loading="lazy" src="img/hero_3.png" class="hero__picture" height="400" alt="">
        </picture>
        <div class="container hero__slider-descr">
          <div class="hero__slider-text">
            <h2 class="hero__subtitle hero__subtitle-third">
              Коллекция стильного и яркого текстиля
            </h2>
            <button class="hero__btn btn-reset hero__slider-btn" aria-label="Нажми чтобы узнать больше">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination hero__swiper-pagination"></div>
  </div>
  <button class="hero__btn btn-reset container hero__mibile-btn">Получить!</button>
</section>
