<section class="rating">
  <div class="container rating__container">
    <h2 class="rating__title">
      Высокий рейтинг
    </h2>
    <div class="rating__block">
      <article class="rating__card product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          5,0
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/leather.webp" type="image/webp">
            <img loading="lazy" src="img/leather.png" class="product__image" width="266" height="82" alt="leather sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван кожаный
          <span class="product__title-code">“R-94”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">94 990 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
      <article class="rating__card product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          4,9
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/apartec.webp" type="image/webp">
            <img loading="lazy" src="img/apartec.png" class="product__image" width="261" height="101" alt="apartec sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван апартековый <span class="product__title-code">“T-75”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">69 990 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
      <article class="rating__card product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          4,8
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/fabric.webp" type="image/webp">
            <img loading="lazy" src="img/fabric.png" class="product__image" width="262" height="103" alt="fabric sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван тканевый <span class="product__title-code">“D-31”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">28 490 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
      <article class="rating__card product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          4,8
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/velor.webp" type="image/webp">
            <img loading="lazy" src="img/velor.png" class="product__image" width="257" height="125" alt="velor sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван велюровый <span class="product__title-code">“Y-68”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">22 990 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
      <article class="rating__card product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          4,8
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/shinil.webp" type="image/webp">
            <img loading="lazy" src="img/shinil.png" class="product__image" width="265" height="117" alt="shinil sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван из шинила <span class="product__title-code">“W-95”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">22 990 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
      <article class="rating__card product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          4,8
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/flock.webp" type="image/webp">
            <img loading="lazy" src="img/flock.png" class="product__image" width="271" height="117" alt="flock sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван флоковый <span class="product__title-code">“G-41”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">17 990 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
      <article class="rating__card rating__untablet-card product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          4,8
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/shinil2.webp" type="image/webp">
            <img loading="lazy" src="img/shinil2.png" class="product__image" width="266" height="130" alt="shinil sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван шиниловый <span class="product__title-code">“V-43”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">19 990 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
      <article class="rating__card rating__untablet-card product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          4,7
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/velor2.webp" type="image/webp">
            <img loading="lazy" src="img/velor2.png" class="product__image" width="212" height="124" alt="velor sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван велюровый <span class="product__title-code">“S-99”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">19 990 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
      <article class="rating__card rating__card-hidden product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          4,7
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/faux-leahter.webp" type="image/webp">
            <img loading="lazy" src="img/faux-leahter.png" class="product__image" width="262" height="125" alt="faux leahter sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван из кожзама
          <span class="product__title-code">“F-85”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">26 990 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
      <article class="rating__card rating__card-hidden product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          4,6
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/flock2.webp" type="image/webp">
            <img loading="lazy" src="img/flock2.png" class="product__image" width="251" height="130" alt="flock sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван флоковый<span class="product__title-code">“H-64”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">25 990 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
      <article class="rating__card rating__card-hidden product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          4,6
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/flock3.webp" type="image/webp">
            <img loading="lazy" src="img/flock3.png" class="product__image" width="233" height="133" alt="flock sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван флоковый  <span class="product__title-code">“H-58”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">23 990 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
      <article class="rating__card rating__card-hidden product">
        <span class="product__rating">
          <svg class="product__rating-star" fill="#FF862F" width="16" height="15">
            <use xlink:href="img/sprite.svg#rating"></use>
          </svg>
          4,6
        </span>
        <div class="product__picter-block">
          <picture class="product__image">
            <source srcset="img/faux-leahter2.webp" type="image/webp">
            <img loading="lazy" src="img/faux-leahter2.png" class="product__image" width="271" height="105" alt="faux leahter sofa">
          </picture>
        </div>
        <h3 class="product__title">
          Диван из кожзама <span class="product__title-code">“R-43”</span>
        </h3>
        <div class="product__discr-block">
          <p class="product__price">33 990 руб</p>
          <a class="product__btn" href="../card.html">Купить</a>
        </div>
      </article>
    </div>
    <button id="rating-btn" class="rating__btn btn-reset">
      Смотреть больше товаров
    </button>
  </div>
</section>
