<section class="offers">
  <div class="container offers__container">
    <div class="offers__header">
      <h2 class="offers__title">
        Специальные предложения
      </h2>
      <div class="offers__swiper-nawigation">
        <button class="offers__left-navigation offers__navigation btn-reset" aria-label="Предыдущий сайт"></button>
        <button class="offers__right-navigation offers__navigation btn-reset" aria-label="Следующиц сайт"></button>
      </div>
    </div>
    <div class="swiper offers__swiper">
      <div class="swiper-wrapper offers__wrapper">
        <article class="swiper-slide offers__slide">
          <div class="offers__picture-block">
            <picture class="offers__img">
              <source srcset="img/offers-armchair.webp" type="image/webp" media="(min-width: 1290px)">
              <source  srcset="img/offers-armchair-1024.webp" type="image/webp" media="(min-width: 990px)">
              <source  srcset="img/offers-armchair-768.webp" type="image/webp" media="(min-width: 760px)">
              <source  srcset="img/offers-armchair-320.webp" type="image/webp">
              <img loading="lazy" src="img/offers-armchair.png" class="offers__img" width="193" height="210" alt="armchair">
            </picture>
          </div>
          <h3 class="offers__card-title">
            Кресло велюровое “X-24”
          </h3>
          <div class="offers__prices">
            <ins class="offers__new-price">
              15 990 руб
            </ins>
            <del class="offers__old-price">
              24 990 руб
            </del>
          </div>
          <button class="offers__btn btn-reset">
            Купить
          </button>
          <p class="offers__discount">
            <span class="offers__discount-text">- 9 000</span>
          </p>
        </article>
        <article class="swiper-slide offers__slide offers__big-slide">
          <div class="offers__picture-block">
            <picture class="offers__img offers__big-img">
              <source srcset="img/offers-sofa.webp" type="image/webp" media="(min-width: 1290px)">
              <source  srcset="img/offers-sofa-1024.webp" type="image/webp" media="(min-width: 990px)">
              <source  srcset="img/offers-sofa-768.webp" type="image/webp" media="(min-width: 760px)">
              <source  srcset="img/offers-sofa-320.webp" type="image/webp">
              <img loading="lazy" src="img/offers-sofa.png" class="offers__img offers__big-img" width="450" height="245" alt="armchair">
            </picture>
          </div>
          <h3 class="offers__card-title">
            Диван тканевый “Z-44”
          </h3>
          <div class="offers__prices">
            <ins class="offers__new-price">
              22 990 руб
            </ins>
            <del class="offers__old-price">
              32 990 руб
            </del>
          </div>
          <button class="offers__btn btn-reset">
            Купить
          </button>
          <p class="offers__discount">
            <span class="offers__discount-text">- 10 000</span>
          </p>
          <img class="offers__sketch" src="img/offers-sofa-desk.png" alt="sketch">
        </article>
        <article class="swiper-slide offers__slide">
          <div class="offers__picture-block">
            <picture class="offers__img">
              <source srcset="img/offers-watch.webp" type="image/webp" media="(min-width: 1290px)">
              <source  srcset="img/offers-watch-1024.webp" type="image/webp" media="(min-width: 990px)">
              <source  srcset="img/offers-watch-768.webp" type="image/webp" media="(min-width: 760px)">
              <source  srcset="img/offers-watch-320.webp" type="image/webp">
              <img loading="lazy" src="img/offers-watch.png" class="offers__img" width="149" height="218" alt="armchair">
            </picture>
          </div>
          <h3 class="offers__card-title">
            Будильник
            <span class="offers__card-name">“Quartz-23”</span>
          </h3>
          <div class="offers__prices">
            <ins class="offers__new-price">
              1 290 руб
            </ins>
            <del class="offers__old-price">
              1 890 руб
            </del>
          </div>
          <button class="offers__btn btn-reset">
            Купить
          </button>
          <p class="offers__discount">
            <span class="offers__discount-text">- 600</span>
          </p>
        </article>
        <article class="swiper-slide offers__slide">
          <div class="offers__picture-block">
            <picture class="offers__img">
              <source srcset="img/offers-deer.webp" type="image/webp" media="(min-width: 1290px)">
              <source  srcset="img/offers-deer-1024.webp" type="image/webp" media="(min-width: 990px)">
              <source  srcset="img/offers-deer-768.webp" type="image/webp" media="(min-width: 760px)">
              <source  srcset="img/offers-deer-320.webp" type="image/webp">
              <img loading="lazy" src="img/offers-deer.png" class="offers__img" width="117" height="210" alt="armchair">
            </picture>
          </div>
          <h3 class="offers__card-title">
            Мини-скульптура “Oh my deer”
          </h3>
          <div class="offers__prices">
            <ins class="offers__new-price">
              690 руб
            </ins>
            <del class="offers__old-price">
              990 руб
            </del>
          </div>
          <button class="offers__btn btn-reset">
            Купить
          </button>
          <p class="offers__discount">
            <span class="offers__discount-text">- 300</span>
          </p>
        </article>
        <article class="swiper-slide offers__slide offers__big-slide">
          <div class="offers__picture-block">
            <picture class="offers__img offers__big-img">
              <source srcset="img/offers-secondSofa.webp" type="image/webp" media="(min-width: 1290px)">
              <source  srcset="img/offers-secondSofa-1024.webp" type="image/webp" media="(min-width: 990px)">
              <source  srcset="img/offers-secondSofa-768.webp" type="image/webp" media="(min-width: 760px)">
              <source  srcset="img/offers-secondSofa-320.webp" type="image/webp">
              <img loading="lazy" src="img/offers-secondSofa.png" class="offers__img offers__big-img" width="463" height="223" alt="armchair">
            </picture>
          </div>
          <h3 class="offers__card-title">
            Диван вел-флок “Z-85”
          </h3>
          <div class="offers__prices">
            <ins class="offers__new-price">
              22 990 руб
            </ins>
            <del class="offers__old-price">
              32 990 руб
            </del>
          </div>
          <button class="offers__btn btn-reset">
            Купить
          </button>
          <p class="offers__discount">
            <span class="offers__discount-text">- 10 000</span>
          </p>
          <img class="offers__sketch" src="img/offers-secondSofa-desk.png" alt="sketch">
        </article>
        <article class="swiper-slide offers__slide">
          <div class="offers__picture-block">
            <picture class="offers__img">
              <source srcset="img/offers-thermometer.webp" type="image/webp" media="(min-width: 1290px)">
              <source  srcset="img/offers-thermometer-1024.webp" type="image/webp" media="(min-width: 990px)">
              <source  srcset="img/offers-thermometer-768.webp" type="image/webp" media="(min-width: 760px)">
              <source  srcset="img/offers-thermometer-320.webp" type="image/webp">
              <img loading="lazy" src="img/offers-thermometer.png" class="offers__img" width="183" height="218" alt="armchair">
            </picture>
          </div>
          <h3 class="offers__card-title">
            Термометр + гидрометр “H-18”
          </h3>
          <div class="offers__prices">
            <ins class="offers__new-price">
              1 390 руб
            </ins>
            <del class="offers__old-price">
              2 090 руб
            </del>
          </div>
          <button class="offers__btn btn-reset">
            Купить
          </button>
          <p class="offers__discount">
            <span class="offers__discount-text">- 700</span>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
