<section class="category">
  <div class="category__container container">
    <h2 class="category__title">
      Топ категории
    </h2>
    <div class="category__block">
      <article class="category__big-card category-card category__sofa-card">
        <ul class="category-card__list category-card__list-sofa list-reset">
          <li class="category-card__item category-card__item-sofa">
            <a class="category-card__link" href="#">Прямые</a>
          </li>
          <li class="category-card__item category-card__item-sofa">
            <a class="category-card__link" href="#">Угловые</a>
          </li>
          <li class="category-card__item category-card__item-sofa">
            <a class="category-card__link" href="#">Модульные</a>
          </li>
        </ul>
        <div class="category-card__title-block category-card__title-block-sofa">
          <h3 class="category-card__title category-card__title-sofa">
            Диваны
          </h3>
          <a class="category-card__title-link category-card__title-link-sofa" href="#">
            <div class="category-card__arrow"></div>
          </a>
        </div>
        <div class="category-card__img-block category-card__sofa-img">
          <picture class="category-card__img">
            <source srcset="img/category-sofa.webp" type="image/webp" media="(min-width: 1025px)">
            <source  srcset="img/category-sofa-1024.webp" type="image/webp" media="(min-width: 901px)">
            <source  srcset="img/category-sofa-728.webp" type="image/webp" media="(min-width: 321px)">
            <source  srcset="img/category-sofa-320.webp" type="image/webp">
            <img loading="lazy" src="img/category-sofa.png" class="category-card__img" width="515" height="308" alt="Sofas">
          </picture>
        </div>
        <a class="category-card__main-link" href="#">
          <span class="category-card__link-descr">В каталог</span>
          <div class="category-card__arrow"></div>
        </a>
      </article>
      <article class="category__big-card category__armchair category-card">
        <ul class="category-card__list category-card__list-armchair list-reset">
          <li class="category-card__item">
            <a class="category-card__link" href="#">Мягкие</a>
          </li>
          <li class="category-card__item">
            <a class="category-card__link" href="#">Кресла-кровати</a>
          </li>
        </ul>
        <div class="category-card__title-block">
          <h3 class="category-card__title">
            Кресла
          </h3>
          <a class="category-card__title-link" href="#">
            <div class="category-card__arrow"></div>
          </a>
        </div>
        <div class="category-card__img-block category-card__armchair-img">
          <picture class="category-card__img">
            <source srcset="img/category-armchair.webp" type="image/webp" media="(min-width: 1025px)">
            <source  srcset="img/category-armchair-1024.webp" type="image/webp" media="(min-width: 769px)">
            <source  srcset="img/category-armchair-728.webp" type="image/webp" media="(min-width: 577px)">
            <source  srcset="img/category-armchair-320.webp" type="image/webp">
            <img loading="lazy" src="img/category-armchair.png" class="category-card__img" width="515" height="308" alt="Armchairs">
          </picture>
        </div>
        <a class="category-card__main-link" href="#">
          <span class="category-card__link-descr">В каталог</span>
          <div class="category-card__arrow"></div>
        </a>
      </article>
      <article class="category__card category-card">
        <ul class="category-card__list category-card__list-bed list-reset">
          <li class="category-card__item">
            <a class="category-card__link" href="#">Односпальные</a>
          </li>
          <li class="category-card__item">
            <a class="category-card__link" href="#">Двуспальные</a>
          </li>
        </ul>
        <div class="category-card__title-block">
          <h3 class="category-card__title">
            Кровати
          </h3>
          <a class="category-card__title-link" href="#">
            <div class="category-card__arrow"></div>
          </a>
        </div>
        <div class="category-card__img-block category-card__bed-img">
          <picture class="category-card__img">
            <source srcset="img/category-bed.webp" type="image/webp" media="(min-width: 1025px)">
            <source  srcset="img/category-bed-1024.webp" type="image/webp" media="(min-width: 769px)">
            <source  srcset="img/category-bed-728.webp" type="image/webp" media="(min-width: 577px)">
            <source  srcset="img/category-bed-320.webp" type="image/webp">
            <img loading="lazy" src="img/category-bed.png" class="category-card__img" width="306" height="202" alt="Beds">
          </picture>
        </div>
        <a class="category-card__main-link" href="#">
          <span class="category-card__link-descr">В каталог</span>
          <div class="category-card__arrow"></div>
        </a>
      </article>
      <article class="category__card category-card">
        <ul class="category-card__list category-card__list-dresser list-reset">
          <li class="category-card__item category-card__dresser-item">
            <a class="category-card__link" href="#">Тумбы</a>
          </li>
          <li class="category-card__item category-card__dresser-item">
            <a class="category-card__link" href="#">Комоды</a>
          </li>
        </ul>
        <div class="category-card__title-block">
          <h3 class="category-card__title category-card__title-dresser">
            Тумбы и&nbsp;комоды
          </h3>
          <a class="category-card__title-link category-card__title-link-dresser" href="#">
            <div class="category-card__arrow"></div>
          </a>
        </div>
        <div class="category-card__img-block category-card__dresser-img">
          <picture class="category-card__img">
            <source srcset="img/category-dresser.webp" type="image/webp" media="(min-width: 1025px)">
            <source  srcset="img/category-dresser-1024.webp" type="image/webp" media="(min-width: 769px)">
            <source  srcset="img/category-dresser-728.webp" type="image/webp" media="(min-width: 577px)">
            <source  srcset="img/category-dresser-320.webp" type="image/webp">
            <img loading="lazy" src="img/category-dresser.png" class="category-card__img" width="330" height="202" alt="Dressers">
          </picture>
        </div>
        <a class="category-card__main-link" href="#">
          <span class="category-card__link-descr">В каталог</span>
          <div class="category-card__arrow"></div>
        </a>
      </article>
      <article class="category__card category-card">
        <ul class="category-card__list category-card__list-chair list-reset">
          <li class="category-card__item category-card__chairs-item">
            <a class="category-card__link" href="#">Деревянные</a>
          </li>
          <li class="category-card__item category-card__chairs-item">
            <a class="category-card__link" href="#">Металлокаркас</a>
          </li>
        </ul>
        <div class="category-card__title-block">
          <h3 class="category-card__title">
            Стулья
          </h3>
          <a class="category-card__title-link" href="#">
            <div class="category-card__arrow"></div>
          </a>
        </div>
        <div class="category-card__img-block category-card__chair-img">
          <picture class="category-card__img">
            <source srcset="img/category-chair.webp" type="image/webp" media="(min-width: 1025px)">
            <source  srcset="img/category-chair-1024.webp" type="image/webp" media="(min-width: 769px)">
            <source  srcset="img/category-chair-728.webp" type="image/webp" media="(min-width: 577px)">
            <source  srcset="img/category-chair-320.webp" type="image/webp">
            <img loading="lazy" src="img/category-chair.png" class="category-card__img" width="258" height="202" alt="Chairs">
          </picture>
        </div>
        <a class="category-card__main-link" href="#">
          <span class="category-card__link-descr">В каталог</span>
          <div class="category-card__arrow"></div>
        </a>
      </article>
    </div>
  </div>
</section>
