<section class="useful">
  <div class="useful__container container">
    <div class="useful__title-block">
      <h2 class="useful__title">
        Полезное
      </h2>
      <div class="useful__swiper-nawigation">
        <button class="useful__left-navigation useful__navigation btn-reset"></button>
        <button class="useful__right-navigation useful__navigation btn-reset"></button>
      </div>
    </div>
    <div class="swiper useful__swiper">
      <div class="swiper-wrapper useful__wrapper">
        <div class="swiper-slide useful__slide">
          <div class="useful__img-block">
            <picture class="useful__img">
              <source srcset="img/room1.webp" type="image/webp" media="(min-width: 1025px)">
              <source  srcset="img/room1-1024.webp" type="image/webp" media="(min-width: 901px)">
              <source  srcset="img/room1-768.webp" type="image/webp" media="(min-width: 577px)">
              <source  srcset="img/room1-320.webp" type="image/webp">
              <img loading="lazy" src="img/room1.jpg" class="useful__img" width="624" height="426" alt="room">
            </picture>
          </div>
          <p class="useful__descr">
            И нет сомнений, что сделанные на базе <span class="useful__descr-nowrap">интернет-аналитики</span> выводы представляют собой не что иное?
          </p>
          <button class="useful__btn">
            Читать
          </button>
        </div>
        <div class="swiper-slide useful__slide">
          <div class="useful__img-block">
            <picture class="useful__img">
              <source srcset="img/room2.webp" type="image/webp" media="(min-width: 1025px)">
              <source  srcset="img/room2-1024.webp" type="image/webp" media="(min-width: 901px)">
              <source  srcset="img/room2-768.webp" type="image/webp" media="(min-width: 577px)">
              <source  srcset="img/room2-320.webp" type="image/webp">
              <img loading="lazy" src="img/room2.jpg" class="useful__img" width="624" height="426" alt="room">
            </picture>
          </div>
          <p class="useful__descr">
            Как принято считать, некоторые особенности приносят несомненную пользу обществу?
          </p>
          <button class="useful__btn">
            Читать
          </button>
        </div>
        <div class="swiper-slide useful__slide">
          <div class="useful__img-block">
            <picture class="useful__img">
              <source srcset="img/room3.webp" type="image/webp" media="(min-width: 1025px)">
              <source  srcset="img/room3-1024.webp" type="image/webp" media="(min-width: 901px)">
              <source  srcset="img/room3-768.webp" type="image/webp" media="(min-width: 577px)">
              <source  srcset="img/room3-320.webp" type="image/webp">
              <img loading="lazy" src="img/room3.jpg" class="useful__img" width="624" height="426" alt="room">
            </picture>
          </div>
          <p class="useful__descr">
            Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
          </p>
          <button class="useful__btn">
            Читать
          </button>
        </div>
        <div class="swiper-slide useful__slide">
          <div class="useful__img-block">
            <picture class="useful__img">
              <source srcset="img/room4.webp" type="image/webp" media="(min-width: 1025px)">
              <source  srcset="img/room4-1024.webp" type="image/webp" media="(min-width: 901px)">
              <source  srcset="img/room4-768.webp" type="image/webp" media="(min-width: 577px)">
              <source  srcset="img/room4-320.webp" type="image/webp">
              <img loading="lazy" src="img/room4.jpg" class="useful__img" width="624" height="426" alt="room">
            </picture>
          </div>
          <p class="useful__descr">
            Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
          </p>
          <button class="useful__btn">
            Читать
          </button>
        </div>
        <div class="swiper-slide useful__slide">
          <div class="useful__img-block">
            <picture class="useful__img">
              <source srcset="img/room5.webp" type="image/webp" media="(min-width: 1025px)">
              <source  srcset="img/room5-1024.webp" type="image/webp" media="(min-width: 901px)">
              <source  srcset="img/room5-768.webp" type="image/webp" media="(min-width: 577px)">
              <source  srcset="img/room5-320.webp" type="image/webp">
              <img loading="lazy" src="img/room5.jpg" class="useful__img" width="624" height="426" alt="room">
            </picture>
          </div>
          <p class="useful__descr">
            Как принято считать, некоторые особенности приносят несомненную пользу обществу?
          </p>
          <button class="useful__btn">
            Читать
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
