.filters {
  position: relative;

    &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: var(--black-color)
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 9px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    color: var(--grey_shade-color)
  }

  &__range-title {
    margin-bottom: 4px;
  }

  &__category-filter {
    @include flex;
    flex-direction: column;
  }

  &__range-block {
    margin-bottom: 37px;
    padding-top: 16px;
  }

  &__category-sales {
    @include flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__color-filter {
    @include flex;
    flex-direction: column;
    margin-bottom: 76px;
  }
}

.custom-checkbox {

  position: relative;
  margin-bottom: 11px;

  &__field {
    position: absolute;
    appearance: none;
  }

  &__content {
    padding-left: 32px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: var(--grey_shade-color);

    @include mobile {
      padding-left: 24px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #999;
      border-radius: 2px;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      transition-property: background-color, border-color;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 6.00002L5.52769 10.5277L13.6473 1.40808' stroke='white' stroke-width='2'/%3e%3c/svg%3e");
      background-position: center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity .4s ease-in-out;
    }
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
  transition: opacity .4s ease-in-out;
}

.custom-checkbox__field:checked + .custom-checkbox__content::before {
  border-color: #A65CF0;
  background-color: #A65CF0;
  transition-property: background-color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: none;
  border-color: #A65CF0;
  transition: border-color .4s ease-in-out;
}

.custom-checkbox__field:focus + .custom-checkbox__content {
  color: #A65CF0;
  transition: color .4s ease-in-out;
}

.custom-checkbox__field:hover + .custom-checkbox__content::before {
  border-color: #A65CF0;
  transition: border-color .4s ease-in-out;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
